<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= content %> </p>
 <!--<% console.log(post) 
    for(var i=0; i<post.length; i++){ %>
     <h1> <%= post[i].title %> </h1>
     <p> <%= post[i].content %> </p>
 <% } %>  -->

 <% post.forEach(function(p){ %>  <!--this is how we use foreach-->
    <h1> <%= p.title %> </h1>

    <p> <%= p.content.substr(0,100) + " ..." %> 
        <a href="/posts/<%= p.title %>">Read more</a>
    </p>
 <% })  %>

<%- include("partials/footer") -%>